# Default ignored files
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
*.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

/shelf/
/workspace.xml


homeworkanalyzerai-*.json
homeworkanalyzerai-69b933a265cf.json
